// colors
$main: #fff;

// fonts
$main-font: '', sans-serif;
$text: #000;

// breakpoints
$xs-max: 575.9px;
$sm: 576px;
$sm-max: 767.9px;
$md: 768px;
$md-max: 991.9px;
$lg: 992px;
$lg-max: 1199.9px;
$xl: 1200px;

// center-wrapper
$sm-c: 540px;
$md-c: 720px;
$lg-c: 992px;
$xl-c: 1140px;
